[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "base16/base16-highlight"]
	path = base16/base16-highlight
	url = git@github.com:bezhermoso/base16-highlight.git
