[user]
	name = Josh Black
	email = josh@josh.black

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[color]
	ui = auto

[color "status"]
	untracked = blue

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[merge]
	renamelimit = 2000
	conflictstyle = zdiff3

[pull]
  rebase = false

[include]
	path = .gitconfig.local

[init]
	defaultBranch = main

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true

[includeIf "gitdir:/Users"]
  path = ~/.gitconfig-macos

[includeIf "gitdir:/home"]
  path = ~/.gitconfig-linux

[includeIf "gitdir:~/gh/primer/"]
  path = ~/dotfiles/.gitconfig-github

[includeIf "gitdir:~/gh/github/"]
  path = ~/dotfiles/.gitconfig-github

[includeIf "gitdir:~/gh/nbdsystem/"]
  path = ~/dotfiles/.gitconfig-nbdsystem
