[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule ".config/nvim/pack/bundle/start/nerdtree"]
	path = .config/nvim/pack/bundle/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".config/nvim/pack/bundle/start/base16-vim"]
	path = .config/nvim/pack/bundle/start/base16-vim
	url = git@github.com:chriskempson/base16-vim.git
[submodule ".config/nvim/pack/bundle/start/pinnacle"]
	path = .config/nvim/pack/bundle/start/pinnacle
	url = git@github.com:wincent/pinnacle.git
	ignore = dirty
[submodule ".config/nvim/pack/bundle/start/vim-prettier"]
	path = .config/nvim/pack/bundle/start/vim-prettier
	url = git@github.com:prettier/vim-prettier.git
	ignore = dirty
[submodule ".config/nvim/pack/bundle/start/editorconfig-vim"]
	path = .config/nvim/pack/bundle/start/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule ".config/nvim/pack/bundle/start/emmet-vim"]
	path = .config/nvim/pack/bundle/start/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule ".config/nvim/pack/bundle/start/groovy.vim"]
	path = .config/nvim/pack/bundle/start/groovy.vim
	url = git@github.com:vim-scripts/groovy.vim.git
[submodule ".config/nvim/pack/bundle/start/json5.vim"]
	path = .config/nvim/pack/bundle/start/json5.vim
	url = git@github.com:gutenye/json5.vim.git
[submodule ".config/nvim/pack/bundle/start/nerdcommenter"]
	path = .config/nvim/pack/bundle/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".config/nvim/pack/bundle/start/vim-go"]
	path = .config/nvim/pack/bundle/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".config/nvim/pack/bundle/start/vim-git"]
	path = .config/nvim/pack/bundle/start/vim-git
	url = git@github.com:tpope/vim-git.git
[submodule ".config/nvim/pack/bundle/start/vim-fugitive"]
	path = .config/nvim/pack/bundle/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".config/nvim/pack/bundle/start/vim-textobj-user"]
	path = .config/nvim/pack/bundle/start/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
	ignore = dirty
[submodule ".config/nvim/pack/bundle/start/vim-textobj-comment"]
	path = .config/nvim/pack/bundle/start/vim-textobj-comment
	url = git://github.com/glts/vim-textobj-comment.git
[submodule ".config/nvim/pack/bundle/start/vim-vue"]
	path = .config/nvim/pack/bundle/start/vim-vue
	url = git@github.com:posva/vim-vue.git
[submodule ".config/nvim/pack/bundle/start/vim-javascript"]
	path = .config/nvim/pack/bundle/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".config/nvim/pack/bundle/start/vim-jsx"]
	path = .config/nvim/pack/bundle/start/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule ".config/nvim/pack/bundle/start/vim-json"]
	path = .config/nvim/pack/bundle/start/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule ".config/nvim/pack/bundle/start/terminus"]
	path = .config/nvim/pack/bundle/start/terminus
	url = git@github.com:wincent/terminus.git
[submodule ".config/nvim/pack/bundle/start/fzf.vim"]
	path = .config/nvim/pack/bundle/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".config/nvim/pack/bundle/start/deoplete.nvim"]
	path = .config/nvim/pack/bundle/start/deoplete.nvim
	url = git@github.com:Shougo/deoplete.nvim.git
[submodule ".config/nvim/pack/bundle/start/tern_for_vim"]
	path = .config/nvim/pack/bundle/start/tern_for_vim
	url = git@github.com:ternjs/tern_for_vim.git
[submodule ".config/nvim/pack/bundle/start/alchemist.vim"]
	path = .config/nvim/pack/bundle/start/alchemist.vim
	url = git@github.com:slashmili/alchemist.vim.git
[submodule ".config/nvim/pack/bundle/start/deoplete-go"]
	path = .config/nvim/pack/bundle/start/deoplete-go
	url = git@github.com:zchee/deoplete-go.git
[submodule ".config/nvim/pack/bundle/start/LanguageClient-neovim"]
	path = .config/nvim/pack/bundle/start/LanguageClient-neovim
	url = git@github.com:autozimu/LanguageClient-neovim.git
[submodule ".config/nvim/pack/bundle/start/ultisnips"]
	path = .config/nvim/pack/bundle/start/ultisnips
	url = git@github.com:SirVer/ultisnips.git
