[user]
	name = Josh Black
	email = joshblack@github.com

[color]
	ui = auto

[color "status"]
	untracked = blue

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[merge]
	renamelimit = 2000

[pull]
  rebase = false

[include]
	path = .gitconfig.local

[init]
	defaultBranch = main

[includeIf "gitdir:/Users"]
  path = ~/.gitconfig-macos

[includeIf "gitdir:/home"]
  path = ~/.gitconfig-linux
